@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 7fr 2fr 7fr 2fr;
    grid-template-columns: 1fr;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Luckiest Guy", cursive;
}
nav {
    background-color: gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.left {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5rem;
}
.middle {
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}
.links {
    cursor: pointer;
}
.links:hover {
    transform: scale(1.05);
}
.links:active {
    color: hsl(0, 17%, 98%);
    transition: 250ms;
}
.right {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#sign-up {
    font-family: "Luckiest Guy", cursive;
    width: 150px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}
#sign-up:hover {
    transform: scale(1.05);
}
#sign-up:active {
    color: hsla(0, 20%, 98%, 0.884);
    transition: 250ms;
}
.hero-container {
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.description-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
}
.description-text {
    background-color: red;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    font-family: "Luckiest Guy", cursive;
    padding: 25px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
} 
#value {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: green;
    /* margin: 15px; */
    padding: 25px;
    font-size: 2rem;
}
p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    /* margin: 15px; */
    padding: 25px;
    width: 600px;
    font-size: 1.5rem;
}
.start-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: pink;
    /* margin: 15px; */
    padding: 25px;
}
#start-button {
    font-family: "Luckiest Guy", cursive;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    font-size: 1rem;
}
#start-button:hover {
    transform: scale(1.05);
}
#start-button:active {
    color: hsla(0, 20%, 98%, 0.884);
    transition: 250ms;
}
.image-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
img {
    border-radius: 150px;
    border: 2px solid black;
    width: 300px;
    height: 300px;
}
.social-proof-container {
    background-color: blue;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 10px;
}
.social-proof-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 1.5rem;
}
.social-proof-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.icons {
   display: flex;
   justify-content: center;
}
.posts-container {
    background-color: blueviolet;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.top-container {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#dark-square {
    background-color: hsl(from black h 5% 10%);
    margin: 10px;
}
#dark-text {
    background-color: hsl(from black h 5% 0%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 60px;
    padding: 30px;
    margin: 10px;
}
#name:hover, #read-more:hover {
    cursor: pointer;
    transform: scale(1.10);
}
#name:active, #read-more:active {
    transform: rotate(15deg);
    
}
.bottom-container {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#left-text-container {
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
}
#left-text {
    /* outline: 2px solid black; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
#top-head {
    background-color: green;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 0 0 15px;
}
#middle-head {
    background-color: blueviolet;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    padding: 0 0 0 15px;
}
#bottom-head {
    background-color: chocolate;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .9rem;
    padding: 0 0 0 15px;
}
#right-text-container {
    background-color: rgb(219, 20, 203);
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
}
#right-text {
    /* outline: 2px solid black; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
#top-heading {
    background-color: blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 0 0 15px;
}
#middle-heading {
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    padding: 0 0 0 15px;
}
#bottom-heading {
    background-color: gray;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .9rem;
    padding: 0 0 0 15px;
}

.footer-container {
    background-color: brown;
}

/* Break-Point for screen size smaller than 650px */
@media (max-width: 650px) {
    body {
        grid-template-columns: 1fr;
    }
    nav {
        grid-template-columns: 1fr;
    }
    .hero-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .description-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    #value {
        justify-content: center;
    }
    p {
        justify-content: center;
    }
    .start-button-container{
        justify-content: center;
    }
    .social-proof-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .social-proof-icons {
        display: grid;
        grid-template-rows: 1fr;
    }
}

/* Break-Point for post-container to display vertically on top of each other (one column) */
@media (max-width: 540px) {
    div.bottom-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    #left-text-container {
        margin: 5px;
    }
    #right-text-container {
        margin: 5px;
    }
}















